@page "/Articles/Details/{Id:int}"
@using ArticleApp.Models.Articles;

@inject IArticleRepository ArticleRepository

<h3>Details</h3>

<hr/>

<div class="container">
    <div class="row">
        <div class="col-md-12">

                <!-- 받아온 Id의 Model.Id 출력 -->
                <div class="form-group">
                    <label for="id">ID :</label> @Model.Id
                </div>

                <!-- 받아온 Id의 Model.Title 출력 -->
                <div class="form-group">
                    <label for="id">Title :</label> @Model.Title
                </div>
               
                <!-- Navi 버튼선언 -->
                <div class="form-group">
                    <a href="/Articles/Edit/@Model.Id" class="btn btn-primary">Edit</a>
                    <a href="/Articles/Edit/@Model.Id" class="btn btn-secondary">Delete</a>
                    <a href="/Articles" class="btn btn-secondary">List</a>
                </div>

        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    public Article Model { get; set; } = new Article();

    protected override async Task OnInitializedAsync()
    {
        Model =  await ArticleRepository.GetArticleByIdAsync(Id);
    }

}
