@page "/Articles"
@page "/Articles/Index"

@using ArticleApp.Models
@using ArticleApp.Models.Articles;

@inject IArticleRepository ArticleRepository

<h1>Index</h1>

<div>
    <a href="/Articles/Create" class="btn btn-primary">Create</a>
</div>

@if (articles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>CREATED</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in articles)
            {
                <tr>
                    <td>@article.Id</td>
                    <td>@article.Title</td>
                    <td>@article.Created.ToShortTimeString()</td>
                    <td>
                        <a href="/Articles/Details/@article.Id" class="btn btn-light">Details</a>
                        <a href="/Articles/Details/@article.Id" class="btn btn-light">Edit</a>
                        <a href="/Articles/Details/@article.Id" class="btn btn-light">Delete</a>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<Article> articles;

    protected override async Task OnInitializedAsync()
    {
        articles = await ArticleRepository.GetArticlesAsync();
    }
}
